<form [formGroup]="fg" (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." [formControl]="fg.controls['nombre']">
        <!-- <div *ngIf="!fg.controls['nombre'].valid">Nombre invalido!</div> -->
        <div *ngIf="fg.controls['nombre'].hasError('required')">Nombre Requerido!</div>
        <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">Nombre invalido!</div>
        <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">nombre debe tener al menos {{minLongitud}} de largo!</div>

        <ul>
            <li *ngFor="let r of searchResults;">{{r}}</li>
        </ul>
    </div>
    <div class="form-group">
        <label for="Imagen	Url">Imagen Url</label>
        <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..." [formControl]="fg.controls['url']">
        <div *ngIf="!fg.controls['url'].valid">Url invalido!</div>
        <div *ngIf="fg.controls['url'].hasError('required')">Url Requerido!</div>
    </div>
    <!-- <button type="submit" class="btn btn-primary mr-1" >Guardar!</button> -->
    <button type="submit" class="btn btn-primary mr-1" *ngIf="fg.valid">Guardar!</button>
    <!-- <button type="button" class="btn btn-primary" (click)="limpiar(nombre, url)">Limpiar</button> -->
</form>